body {
    color:#118878;
    font-family:Verdana,sans-serif;
    font-size:18px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

h1 {
    color:#E27D60;
    border: 2px;
    font-size:36px;
    text-align:center;
}

tr:hover {
    background-color: lightcyan;
}

th {
    font-weight: bold;
}

td {
    font-weight: lighter;
}

td, th {
    padding: 5px;
}

p{
color:#E8A87C;
}

#delete-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

#error {
    color: red;
}
